// We can import bulma into the project using Sass.
$navbar-height : 8rem;
$navbar-background-color : #14141c;
$navbar-item-color : #fff;

$card-background-color	: #14141c;
$card-color : white;
$subtitle-strong-color : white;

$navbar-item-hover-color	: white;
$navbar-item-hover-background-color	: #444;

$footer-background-color	: #ff9d9b;

@import "../node_modules/bulma/bulma.sass"