// We can import bulma into the project using Sass.
$navbar-height : 8rem;
$navbar-background-color : #14141c;
$navbar-item-color : #fff;


$navbar-item-hover-color	: white;
$navbar-item-hover-background-color	: #444;

@import "../node_modules/bulma/bulma.sass"